.player {
    position: absolute;
    height: calc(48px);
    width: calc(32px);
    animation-name: sprite;
    animation-duration: var(--duration);
    animation-timing-function: steps(var(--steps));
    animation-iteration-count: var(--iterationCount);
    animation-fill-mode: forwards;
    image-rendering: pixelated;
}

.hitbox {
    position: absolute;
    left: 8px;
    bottom: 0px;
    height: 32px;
    width: 16px;
}

@keyframes sprite {
    from {

        background-position: 0px;
    }

    to {
        background-position: calc(var(--spriteWidth) * var(--steps));
    }
}